<?xml version="1.0" encoding="UTF-8"?>
<!-- ========================================================== -->
<Context>
<!-- ========================================================== -->
	<!-- Oracle connection -->
	<Resource
		name="jdbc/tox"
		scope="Shareable"
		type="javax.sql.DataSource"
		url="jdbc:oracle:thin:@nep-vm3.llnl.gov:1521:DCCDB"
		driverClassName="oracle.jdbc.OracleDriver"
		username="neptox1"
		password="password"
		maxIdle="3"
		maxTotal="10"
		removeAbandonedOnBorrow="true"
		removeAbandonedTimeout="60"
		testOnBorrow="true"
		validationQuery="select * from dual"
		logAbandoned="true"
		/>
	<!-- Remote address filter -->
	<Valve
		className="org.apache.catalina.valves.RemoteAddrValve"
		allow="127\.0\.0\.1|::1|0:0:0:0:0:0:0:1|192\.168\.56\.1"
		/>
<!-- ========================================================== -->
</Context>